header{
	border-bottom: 3px solid #022801;
	border-top: 3px solid #022801;
}
#nav_bar ul{
	list-style: none;
	padding: .5em 0;
	background-color: #555C4A;
	text-align: center;
}
#nav_bar li{
	display: inline;
}
#nav_bar a{
	padding: 1em 1em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #E8DED5;
}