html{
	background: url("../images/woodback.jpg") no-repeat fixed center;
}
header{
	border-bottom: 3px solid #022801;
	border-top: 3px solid #022801;
	padding-bottom: 3px;
}
nav{
	width: 700px;
	position: absolute; top: -5px; right: 8px; z-index: 1;
}
#nav_bar ul{
	list-style: none;
	padding: 2.1em 0;
	background-color: #555C4A;
	text-align: center;
}
#nav_bar li{
	display: inline;
}
#nav_bar a{
	padding: 2em 2em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #E8DED5;
}
a:hover{
	background-color: #022801;
}
h2{
	padding-left: 6px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FAFAD2;
}
footer{
	border: 1px;
	background-color: #075702;
	color: black;
	clear: left;
	color: #E8DED5;
	margin-top: 25px;
}
#slideshow{
	margin-top: 10px;
}
.list{
	font-weight: bold !important;
	font-size: 120%;
	opacity: 50%;
}
dl{
	font-size: 100%;
	line-height: 20px;
}
dt{
	font-size: 80%;
	font-weight: lighter;
}
#testimonial{
	text-align: justify;
	padding-left: 6px;
	padding-right: 6px;
}
.para{
	margin-top: 5px;
	margin-bottom: 5px;
}
.names{
	text-align:right;
	font-size: 106%;
}
.about{
	padding-left: 50px;
	padding-right: 90px;
	margin-top: 50px;
	line-height: 30px;
	margin-bottom: 1px;
	columns:100px 2;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-moz-columns:100px 2; /* Firefox */
}
h3{
	padding-left: 10px;
}
.content{
	float:left;
	padding-right: 6%;
} 
.up{
	float: right;
	padding-right: 8%;
}
.pic{
	margin-right: auto;
	padding-left: 3%;
	width: 40%;
}
h2{
	margin-bottom: -4px;
}
.columns{
	float:left;
	padding-left: 400px;
}
#container{
	position: relative;
	width: 770px;
	height: 396px;
	margin 20px auto 0 auto;
	border: 1px solid #000000;
}
#container ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
#container a.gallery span{
	position: absolute;
	width: 1px;
	height: 1px;
	top: 5px;
	left: 5px;
	overflow: hidden;
	background: #075702;
}
#container a.slidea { 
	    background:url(../images/001.jpg);
	    height:93px; 
	    width:60px; 
	    } 
	#container a.slideb { 
	    background:url(../images/p2_t.jpg); 
	    height:93px; 
	    width:60px; 
	    } 
	#container a.slidec { 
	    background:url(../images/p3_t.jpg); 
	    height:93px; 
	    width:60px; 
	    } 
	#container a.slided { 
	    background:url(../images/p4_t.jpg); 
	    height:60px; 
	    width:93px; 
	    } 
	* html #container a.slided { 
	    width:91px; 
	    w\idth:93px; 
	    } 
	#container a.slidee { 
	    background:url(../images/p5_t.jpg); 
	    height:60px; 
	    width:93px; 
	    } 
	#container a.slidef { 
	    background:url(../images/p6_t.jpg); 
	    height:60px; 
	    width:93px;
  	    } 
	* html #container a.slidef { 
	    width:91px; 
	    w\idth:93px; 
	    } 
	#container a.slideg { 
	    background:url(../images/p7_t.jpg); 
	    height:60px; 
	    width:93px; 
	    } 
	#container a.slideh { 
	    background:url(../images/p8_t.jpg); 
	    height:93px; 
	    width:60px; 
	    } 
	#container a.slidei { 
	    background:url(../images/p9_t.jpg); 
	    height:93px; 
	    width:60px; 
	    } 
	#container a.slidej { 
	    background:url(../images/p10_t.jpg); 
	    height:93px; 
	    width:60px; 
	    } 
	#container a.slidek { 
	    background:url(../images/p11_t.jpg); 
	    height:60px; 
	    width:93px; 
	    } 
	* html #container a.slidek { 
	    width:91px; 
	    w\idth:93px; 
	    } 
	#container a.slidel { 
	    background:url(../images/p12_t.jpg); 
	    height:60px; 
	    width:93px; 
	    } 


