html{
	background: url("../images/woodback.jpg") no-repeat fixed center;
}
header{
	border-bottom: 3px solid #022801;
	border-top: 3px solid #022801;
	padding-bottom: 3px;
}
nav{
	width: 700px;
	position: absolute; top: -5px; right: 8px; z-index: 1;
}
#nav_bar ul{
	list-style: none;
	padding: 2.1em 0;
	background-color: #555C4A;
	text-align: center;
}
#nav_bar li{
	display: inline;
}
#nav_bar a{
	padding: 2em 2em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #E8DED5;
}
a:hover{
	background-color: #022801;
}
h2{
	padding-left: 6px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FAFAD2;
}
footer{
	border: 1px;
	background-color: #075702;
	color: black;
	clear: left;
	color: #E8DED5;
	margin-top: 25px;
}
#slideshow{
	margin-top: 10px;
}
.list{
	font-weight: bold !important;
	font-size: 120%;
	opacity: 50%;
}
dl{
	font-size: 100%;
	line-height: 20px;
}
dt{
	font-size: 80%;
	font-weight: lighter;
}
#testimonial{
	text-align: justify;
	padding-left: 6px;
	padding-right: 6px;
}
.para{
	margin-top: 5px;
	margin-bottom: 5px;
}
.names{
	text-align:right;
	font-size: 106%;
}
.about{
	padding-left: 50px;
	padding-right: 90px;
	margin-top: 50px;
	line-height: 30px;
	margin-bottom: 1px;
	columns:100px 2;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-moz-columns:100px 2; /* Firefox */
}

.about2{
	margin-top: 2px;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}


h3{
	padding-left: 10px;
}
.content{
	float:left;
	padding-right: 6%;
} 
.up{
	float: right;
	padding-right: 8%;
}
.pic{
	margin-right: auto;
	padding-left: 3%;
	width: 40%;
}
h2{
	margin-bottom: -4px;
}

.columns{
	columns:100px 2;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-moz-columns:100px 2; /* Firefox */
	padding-left: 20px;
	padding-right: 20px;
}

#container{
	position: relative;
	width: 770px;
	height: 396px;
	margin: 20px auto 0 auto;
	border: 1px solid #000000;
}

#container ul{
	padding:0;
	margin:0;
	list-style-type:none;
	width:198px;
	height:386px;
	margin: 5px;
	float: right;
}

#container li{
	float: left;
}

#container a.gallery span{
	position: absolute;
	width: 1px;
	height: 1px;
	top: 5px;
	left: 5px;
	overflow: hidden;
	background: #075702;
}

#container a.gallery, #container a.gallery:visited { 
	    display:block; 
	    color:#000; 
	    text-decoration:none; 
	    border:1px solid #000; 
	    margin:1px 2px 1px 2px; 
	    text-align:left; 
	    cursor:default; 
	    } 

#container a.slidea { 
	background:url(../images/001.gif);
	height:93px; 
	width:52px; 
} 

#container a.slideb { 
	background:url(../images/003.gif); 
	height:93px; 
 	width:52px; 
} 
#container a.slidec { 
	    background:url(../images/004.gif); 
	    height:93px; 
	    width:52px; 
	    } 
#container a.slided { 
	    background:url(../images/005.gif); 
	    height:93px; 
	    width:52px; 
	    } 
	* html #container a.slided { 
	    width:91px; 
	    w\idth:93px; 
	    } 
#container a.slidee { 
	    background:url(../images/006.gif); 
	    height:93px; 
	    width:52px; 
	    } 
#container a.slidef { 
	    background:url(../images/007.gif); 
	    height:93px; 
	    width:60px;
  	    } 
* html #container a.slidef { 
	    width:91px; 
	    w\idth:93px; 
	    } 
#container a.slideg { 
	    background:url(../images/010.gif); 
	    height:93px; 
	    width:60px; 
	    } 
#container a.slideh { 
	    background:url(../images/013.gif); 
	    height:93px; 
	    width:60px; 
	    } 
#container a.slidei { 
	    background:url(../images/014.gif); 
	    height:93px; 
	    width:60px; 
	    } 
#container a.slidej { 
	    background:url(../images/015.gif); 
	    height:93px; 
	    width:60px; 
	    } 
#container a.slidek { 
	    background:url(../images/008.gif); 
	    height:93px; 
	    width:60px; 
	    } 
* html #container a.slidek { 
	    width:91px; 
	    w\idth:93px; 
	    } 
#container a.slidel { 
	    background:url(../images/009.gif); 
	    height:93px; 
	    width:60px; 
	    } 

#container a.gallery:hover {
	border: 1px solid #555C4A;
}
#container a.gallery:hover img {
	border: 1px solid #000000;
	float: left;
	margin-right: 5px;
}
#container a.slideb:hover img, #container a.slidei:hover img{
	float: : right;
}
#container a.gallery:hover span{
	position:absolute;
	width: 372px;	
	height: 372px;
	top: 10px;
	left: 75px;
	color: #000000;
	background: #FAFAD2; 
}
#container a.gallery:hover img{
	border: 1px solid #022801;
	float: left;
	margin-right: 5px;
}


